.course-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 32px;
  width: 400px;
}

.course-card {
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 32px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.course-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  /* margin-bottom: 15px; */
  color: black;
  margin: 0;
  width: 75%;
}

.course-stats {
  display: flex;
  justify-content: space-between;
  flex: 1;
  /* margin-bottom: 20px; */
}

.stat {
  /* display: flex;
  align-items: center; */
  color: #666;
  font-size: 14px;
  line-height: 28px;
}

.stat-icon {
  margin-right: 5px;
}

.completed {
  color: #4caf50;
}

.button-container {
  /* margin-top: 32px; */
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
